*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #dfccc0;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}

#MenuItems a{
    color: #555;
    transition: font-weight 0.5s;
}
#MenuItems a:hover{
    color: #5e6852;
    font-weight: bold;
    
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #909e7f;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background, box-shadow 0.5s;
}
.btn:hover{
    background: #5e6852;
    box-shadow: 5px 5px 20px #5e6852;
}
.header{
    background: radial-gradient(#fff,#c1a28e);
    width: 100%;
}
.header .row{
    margin-top: 10px;
}

.categories{
    margin: 70px 0;
}

/*CATEGORIES (miriam)*/
.wrap{
	width: 100%;
	margin: 50px auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
    align-items: center;
}

.tarjeta-wrap{
	margin: 10px;
	-webkit-perspective: 800;
	perspective: 800;
}

.tarjeta{
	width: 350px;
	height: 350px;
	background: #c1a28e;
	position: relative;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: .7s ease;
	transition: .7s ease;
	-webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
	box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);

}
.adelante, .atras{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.adelante{
	width: 100%;
}

.atras{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);

	padding: 15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;

	text-align: center;
	color: #fff;
	font-family: "open sans";
    background: #c1a28e;
}

.tarjeta-wrap:hover .tarjeta{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.card1{
	background-image: url(images/category-1.png);
	background-size: cover;
}

.card2{
	background-image: url(images/category-2.jpg);
	background-size: cover;
}

.card3{
	background-image: url(images/category-3.jpg);
	background-size: cover;
}
/*UNTIL HERE*/

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/*carolina*/
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #909e7f;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #909e7f;
}
.col-4:hover{
    transform: translateY(-5px);
}

/*-------------offer------*/
.offer{
    background: radial-gradient(#c1a28e,#bcaea5);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color: #555;
}

/*-------testimonial-----------*/ 
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
    background: #d3c1b6
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 34px;
    color: #909e7f;
}
.col-3 p{
    font-size: 12px; 
    margin: 12px 0;
    color: #555;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

/*----------- brands (miriam) -------------*/
.brands{
    margin: 100px auto;
}

.col-5{
    width: 160px;
}

.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
    transition: filter 0.5s;
}

.col-5 img:hover{
    filter: grayscale(0);
}

/*-------footer (miriam) ---------*/

.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p{
    color: #8a8a8a;
}

.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;}

.footer-col-1{
    flex-basis: 30%;
    text-align: center;
}
.footer-col-2{
    flex: 30%;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
.footer-col-3 ul li a{
    transition: font-weight 0.5s;
}
.footer-col-4 ul li a{
    transition: font-weight 0.5s;
}
.footer-col-3 ul li a:hover{
    color: #909e7f;
    font-weight: bold;
}
.footer-col-4 ul li a:hover{
    color: #909e7f;
    font-weight: bold;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}

/*-------Menu (miriam)----------*/
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
/*-------------All products page (carol)---------*/
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #c1a28e;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #c1a28e;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: background 0.5s;
}
.page-btn span:hover{
    background: #c1a28e;
    color: #fff;
}

 

 @media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        margin-top: 50px;
        top: 70px;
        left: 0;
        background: #5e6852;
        width:100%;
        overflow: hidden;
        transition: max-height 0.5s;
        }

    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color:#fff;
    }

    .menu-icon{
        display: block;
        cursor: pointer;
    }
    
    .wrap{
        display: block;
        align-content: center;
        margin-left: 125px;
        flex-basis: 100%;
        width: 100%;
    }
    #MenuItems a{
        color: #fff;
        transition: font-weight 0.5s;
    }
    #MenuItems a:hover{
        color: #fff;
        font-weight: bold;
        
    }

}

/*------- account (Ari) -------*/
.account-page{
    padding: 50ox 0;
   
}
.form-container{
    background: #c1a28e;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow:  10px 10px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 7px;
}
.form-container input{
    border-radius: 0px;
    border: none;
    border-bottom: 2px solid #d3c1b6;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    
    display: inline-block;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    border: 1px solid #ccc;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}
#LoginForm{
    left: -300px;
}
#RegForm{
    left: 0;
}
form a{
    font-size: 12px;
}
#Indicator{
    width: 100px;
    border: none;
    background: #909e7f;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}


/*--media query for less than 600 screen size*/

@media only screen and (max-width: 600px) {
    .header{
        width: 100%;
    }
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .wrap{
        flex-basis: 100%;
        width: 100%;
        padding-left: 50px;
        display: block;
        margin-left: 15px;
    }
    #MenuItems a{
        color: #fff;
        transition: font-weight 0.5s;
    }
    #MenuItems a:hover{
        color: #fff;
        font-weight: bold;
        
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }
    .cart-info p{
        display: none;
    }
}

/*----- single product details (miriam) -------*/

.single-product{
    margin-top: 20px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 2px solid #909e7f;
}
#select-size{
    display: block;
    padding: 10px;
    font-size: 15px;
    margin-right: 10px;
    border: 2px solid #909e7f;
}
input:focus{
    outline: none;
}
.single-product .fa-solid{
    color: #909e7f;
    margin-left: 10px;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
/*-------cart items (carolina) -------*/

.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color:#fff;
    background: #c1a28e;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #c1a28e;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #c1a28e;
    width: 100%;
    max-width: 530px;
}
#btn-buy{
    padding: 10px 20px;
    display: block;
    background: #909e7f;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
#btn-buy:hover{
    background: #5e6852;
    box-shadow: 5px 5px 20px #5e6852;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

/* ---------- contact (Ari) ---------- */
.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: #5e6852;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #5e6852;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #5e6852;
    transform: translateY(-5px);
}

.btn.btn2{
      display: inline-block;
      background: #5e6852;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #c1a28e;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
